@import '../node_modules/bootstrap/scss/bootstrap.scss';

$inputWidth: 15vh;

html {
    scroll-behavior: smooth;
    overflow: visible;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #111;
    margin-bottom: 2vh;
}

.title {
    font-size: 6vh;
    color: white;
    text-align: center;
    font-weight: bolder;
    margin: 0;
}

.middle {
    display: flex;
    height: 90vh;
    width: 100%;
    flex-direction: column;
}

.outputtext {
    margin-top: 1vh;
    font-size: 1.8vh;
    color: black;
}

input {
    font-size: 1.8vh;
    border: 0.1vh #cfcfcf solid;
    border-radius: 0.4vh;
    padding-left: 0.5vh;
}

.input {
    padding-top: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.gradetext {
    font-size: 1.8vh;
    text-align: left;
    padding-right: 1vh;
    margin: 0;
}

.gradeInput {
    height: 3vh;
    width: $inputWidth;
    font-size: 1.8vh;
}

.weightInput {
    height: 3vh;
    width: $inputWidth;
    font-size: 1.8vh;
    margin-left: 1vh;
}

.delBtn {
    color: red;
    text-decoration: none;
    margin-left: 0.5vh;
    align-self: baseline;
    font-size: 1.8vh;
}

.delBtn:hover {
    color: darkred;
    cursor: pointer;
}

.bottombtns {
    text-align: center;
    margin-top: 2vh;
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 4vh;
    }
}