@import '../node_modules/bootstrap/scss/bootstrap.scss';

$inputWidth: 15vh;

html {
    scroll-behavior: smooth;
    overflow: visible;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

.title {
    font-size: 6vh;
    color: white;
    text-align: center;
    font-weight: bolder;
    margin: 0;
}

.middle {
    display: flex;
    height: 90vh;
    width: 100%;
    flex-direction: column;
}

.outputtext {
    font-size: 1.8vh;
    color: black;
}

input {
    font-size: 1.8vh;
    border: 0.1vh #cfcfcf solid;
    border-radius: 0.4vh;
}

.input {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.gradetext {
    padding-top: 3vh;
    font-size: 1.8vh;
    text-align: left;
    padding-right: 1vh;
    margin: 0;
}

.gradeInput {
    height: 3vh;
    width: $inputWidth;
    font-size: 1.8vh;
}

.weightInput {
    height: 3vh;
    width: $inputWidth;
    font-size: 1.8vh;
    margin-left: 1vh;
}

.bottombtns {
    font-size: 1.8vh;
    text-align: center;
    padding-top: 2vh;
}

.addbtn {
    text-align: center;
    font-size: 1.8vh;
    color: white;
    background-color: #1ccf1f;
    height: 3vh;
    border-radius: 0.4vh;
    border: 0;
}

.addbtn:hover {
    background-color: #18b31b;
}

.calcbtn {
    text-align: left;
    font-size: 1.8vh;
    color: white;
    background-color: dodgerblue;
    height: 3vh;
    border-radius: 0.4vh;
    border: 0;
}

.calcbtn:hover {
    background-color: #1b81e5;
}